<div *ngIf="pagination">
  <div class="sizes">
    <select [(ngModel)]="pageSize"
            (ngModelChange)="onChangePageSize()">
      <option *ngFor="let item of pageSizeList" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="pagination"
       *ngIf="pagination.pages && pagination.pages.length">
    <a [ngClass]="{disabled:pagination.currentPage === 1}"
       (click)="onChangePage(1)">
      «
    </a>
    <a [ngClass]="{disabled:pagination.currentPage === 1}"
       (click)="onChangePage(pagination.currentPage - 1)">
      ‹
    </a>
    <a *ngFor="let page of pagination.pages"
       [ngClass]="{active:pagination.currentPage === page}"
       (click)="onChangePage(page)">
      {{page}}
    </a>
    <a [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}"
       (click)="onChangePage(pagination.currentPage + 1)">
      ›
    </a>
    <a [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}"
       (click)="onChangePage(pagination.totalPages)">
      »
    </a>
  </div>
</div>
