<div>
  <div class="currency-search">
    <app-search-currency (filter)="onFilter($event)"></app-search-currency>
  </div>
  <div class="grid currency-catalog">
    <app-loader [isLoading]="currenciesIsLoading"></app-loader>
    <div *ngIf="!currenciesIsLoading">
      <div class="cell-phone-6 cell-tablet-3 cell-laptop-2"
           *ngFor="let currency of currenciesPageItems  | currencyFilter: currencyFilter"
           (click)="currencyDetails(currency)">
        <app-catalog-card [currency]="currency.attributes"></app-catalog-card>
      </div>
    </div>
  </div>
  <div class="currency-pagination"
       *ngIf="!currenciesIsLoading">
    <app-pagination [pagination]="currenciesPage"
                    [pageSize]="currenciesPageSize"
                    [pageSizeList]="currenciesPageSizeList"
                    (changePage)="onChangePage($event)"
                    (changePageSize)="onChangePageSize($event)"></app-pagination>
  </div>
</div>
