html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  padding: 100px 40px 0;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  text-align: center;
  padding: 13px 0;
  background-color: #fff;
  z-index: 2;
  box-shadow: 1px 1px 10px rgba(162, 157, 157, 0.68);
}

header h1 {
  color: #928a7f;
  font-size: 2.1em;
  font-style: italic;
}

/* END Header */

/* Catalog */
.currency-catalog {
  padding: 10px 0;
}

.catalog-card {
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  min-height: 130px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
}

.currency-details {
  width: 50%;
  padding: 20px 50px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #7372725e;
}

.currency-details h1 {
  text-align: center;
  font-size: 1.4em;
}

/* END Catalog */

input, select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 0 solid #ffffff;
  font-size: 1em;
  background-color: #ffffff;
  padding: 10px;
  outline: none;
  box-shadow: 1px 1px 6px rgba(68, 68, 68, 0.41);
}

.center {
  text-align: center;
}

